In [2]:
odds = [1, 3 ,5, 7]
print('odds are:', odds)

odds are: [1, 3, 5, 7]

In [4]:
print("First element in the list", odds[0])

First element in the list 1

In [7]:
print("Last element in the list", odds[-1])

Last element in the list 7

In [11]:
print("Every second element in the list",odds[0::2])

Every second element in the list [1, 5]

In [13]:
names = ["cruie","Darwing","Turing"]
print("names is orginally",names)
names[1] = "Darwin"
print("Final value of names", names)

names is orginally ['cruie', 'Darwing', 'Turing']
Final value of names ['cruie', 'Darwin', 'Turing']

In [15]:
name = "Darwin"
print("First character in the name", name[0])

First character in the name D

In [17]:
name[0] = 'd'

TypeError: 'str' object does not support item assignment

In [20]:
x = [
    ["pepper", "courgette", "onion"],
    ["cabbage","lettuce", "garlic"],
    ["apple", "pear", "banana "]
]

In [22]:
print(x[0])

['pepper', 'courgette', 'onion']

In [24]:
print(x[0][1])

courgette

In [31]:
sample_ages = [10, 12.5, "unknown"]
print(type(sample_ages[0]))
print(type(sample_ages[1]))
print(type(sample_ages[2]))

<class 'int'>
<class 'float'>
<class 'str'>

In [35]:
odds.append(11)
print("odds after adding a value",odds)

odds after adding a value [1, 3, 5, 7, 11, 11]

In [38]:
removed_element = odds.pop(0)
print("odds after removing the first element",odds)
print("removed_element", removed_element)

odds after removing the first element [7, 11, 11]
removed_element 5

In [41]:
print(odds.reverse())

None

In [43]:
odds

[11, 11, 7]

In [44]:
string_for_slicing = 'Obeservation date: 02-Feb-2013'

In [49]:
string_for_slicing[-4:]

'2013'

In [50]:
beatles = "In an octopus's garden in the shale"

In [51]:
print(beatles[::2])

I notpssgre ntesae

In [52]:
counts = [2, 4, 6, 8, 10]
print(counts*2)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]